.announce {
    position: fixed;
    top     : 2rem;
    right   : 2rem;
    width   : 300px;
    border  : 1px solid transparent;
    color   : black;
    padding : 1rem 2rem;
}

.error {
    color : red;
    border: 1px solid red;
}

.notification {
    color : green;
    border: 1px solid green;
}